.jogo{
    background: #9BE5E4;
    height: 100vh;
}

.nuvens {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
  }

.mario{
    width: 100px;
    position: absolute;
    bottom: 5%;
    left: 10%
}

.pipe{
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.ground{
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: limegreen;
}